<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>User- topic</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"
	href="../../css/bootstrap.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>
<body>
	<header th:replace="layout :: header"></header>
	<div class="container form">
		<div class="row">
			<form action="#" th:action="@{/user-topic/save}" th:object="${usertopic}"
				method="POST" novalidate="novalidate">
				<div class="form-group">
					<label>User_id</label> <input type="text" class="form-control" th:field="*{user.id}" />
				</div>
				<div class="form-group">
					<label>Topic_id</label> <input type="text" class="form-control" th:field="*{topic.id}"/>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>

	<footer th:replace="layout::footer"> </footer>
</body>
</html>